:root {
  --_grid: .25rem;
}

[style] {
  --margin-top: initial;
  --margin-bottom: initial;
  --_vp7c84: var(--medium) var(--medium_padding);
  --medium_padding: initial;
  --medium: initial;
}

@layer tk-long {
  [style] {
    margin-top: var(--margin-top, revert-layer);
    margin-bottom: var(--margin-bottom, revert-layer);
  }
}

@layer tk-selector-short {
  [style] {
    padding: var(--_vp7c84, revert-layer);
  }
}

@media (min-width: 1024px) {
  [style] {
    --medium: ;
  }
}
